{% extends 'baseAdmin.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block contenido3 %}

<script>
    function eliminarartista(rut_artista)
    {
      Swal.fire({
        "title": "Advertencia",
        "text": "¿Esta seguro que desea eliminar a un Artista?",
        "icon": "question",
        "showCancelButton": true,
        "cancelButtonText": "No, cancelar",
        "confirmButtonText":"Si, eliminar"
      }).then(function(result){
  
        if(result.isConfirmed)
        {
          window.location.href="/eliminar_artista/"+rut_artista+"/";
        }
  
      })
    }
  </script>
  
  <div class="container mt-5">
      <div class="text-center">
        <h2 class="mt-4">Lista de Artistas</h2>  
      </div>
  
  
  <br><br>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Rut</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">correo</th>
          <th scope="col">Opciones</th>

          
        </tr>
      </thead>
      <tbody>
          {% for p in artistas %}
        <tr>
          <th scope="row">{{p.rut_artista}}</th>
          <td>{{p.nombre_artista}}</td>
          <td>{{p.apellido_artista}}</td>
          <td>{{p.correo}}</td>
          <td>
            <a href="{% url 'modificar' p.rut_artista %}" class="btn btn-success btn-sm" >Modificar </a>
            <a href="#" onclick="eliminarartista('{{p.rut_artista}}')" class="btn btn-danger btn-sm" >Eliminar </a>
  
          </td>
        </tr>
        {% endfor %}
  
      </tbody>
    </table>
  </div>


{% endblock %}