{% extends 'base.html'%}
{% load static %}
{% block contenido %}
<br>



<div class="artistas" style="margin-top: 5px" >
    <h2 style="text-align: center;">Nuestros Artistas</h2>
    <br> <br>
    <div id="nuestros_artistas" class="row">
      <div class="cont-profesionales col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="cont-listado row">

          {% for a in artistas %}

          <div style="text-align: center;" class="col-lg-4 artista mx-auto" >
            <div class="art int">
              <figure>
                <a href="{% url 'detalleArtista' a.pk %}">

                  {% if a.foto %}
                  <img width="270" height="350"
                    src="{{a.foto.url}}"
                    style="border-radius: 15px;"
                    class="img-responsive wp-post-image" alt="" decoding="async" loading="lazy"> </a>
                    <br>
                  {% else %}

                  <img width="270" height="350"
                  src=""
                  class="img-responsive wp-post-image" alt="" decoding="async" loading="lazy"> </a>
                    <br>
                  {% endif %}  
                  <br>
                <h5 class="nombre white">{{a.nombre_artista}} {{a.apellido_artista}}</h5>


              </figure>
              <div class="details">
                <p class="extracto">{{a.especialidad}}</p>
                <p class="rrss"></p>
              </div>

            </div>
          </div>
          {% endfor %}




      </div>
    </div>
  </div>


  {% endblock %}