{% extends 'base.html' %}
{% load static %}

{% block contenido %}



<div class="container">
    <div class="row">

        <div class="col-4"><img src="{% static './imagenes/Pintura2.png' %}" class="img-thumbnail" alt="..."></div>
        <div class="col-8" id="Kitten">
            <ul class="list-unstyled">
                <li><b>Oliver.M</b></li>
                <li>Artista Chileno </li>
                <li>Pintura : <b>rainbow kitten</b></li>
                <li> técnica usada : <b>Pintura al óleo</b></li>
                <li><b>Precio</b>:
                  <ul>
                    <li>100.000 CLP <b>(Vendido)</b></li>
                    
                  </ul>
                </li>
                <li>Oliver.M artista de Concepción se inspira en animales para crear sus obras basadas en animales muy coloridos, sus pinturas son muy famosas gracias a sus deslumbrantes y vivos colores, todas las pinturas son hechas con retratos de animales callejeros, que ademas gracias a estas la mayoria de estos animalistos logran ser adoptados.</li>
              </ul>
        </div>
        
    </div>
</div>




{% endblock %}