{% extends 'baseAdmin.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block contenido3 %}


<style>
    .table td,
    .table th {
        vertical-align: middle;
        text-align: center;
    }

    .enlarge-image {
        transition: transform 0.3s;
    }

    .enlarge-image:hover {
        transform: scale(5);
        max-width: 300px;
        max-height: 300px;
    }
</style>

<div class="container" id="OP2">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Obras Pendientes de aprobación</h2>
            <br><br>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Id Obra</th>
                            <th scope="col">Artista</th>
                            <th scope="col">Nombre de la Obra</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>  
                        {% for pub in publicaciones %}
                        {% if pub.estado == 0 %}
                        
                        <tr>
                            <th scope="row">{{pub.id}}</th>
                            <td>{{pub.artista}}</td>
                            <td>{{pub.nombre_obra}}</td>
                            <td>
                                <img src="{{ pub.imagen_obra.url }}" alt="Imagen de la obra" width="50"
                                    class="enlarge-image">
                            </td>
                            <td>En espera</td>
                            <td>
                                <a href="#" class="btn btn-success btn-sm"
                                    onclick="aprobacionObras('{{pub.id}}')">Aprobar</a>
                                <a href="#" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">Rechazar</a>
                            </td>
                        </tr>

                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Rechazar obra</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <form class="row" id="rechazoForm" action="" method="POST">
                                    
                                    {% csrf_token %}
                                    
                                        <label for="">Motivo</label>
                                        <textarea name="motivo_rechazo" id="" cols="20" rows="5" class="form-control"></textarea>
                                  </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                  <button type="submit" class="btn btn-danger" onclick="rechazarObras('{{pub.id}}')">Rechazar</button>
                                </div>
                              </div>
                            </div>
                          </div>

                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <script>
                function aprobacionObras(id) {
                    Swal.fire({
                        title: "Advertencia",
                        text: "¿Estás seguro que deseas aprobar la publicación?",
                        icon: "question",
                        showCancelButton: true,
                        cancelButtonText: "No, cancelar",
                        confirmButtonText: "Sí, aprobar"
                    }).then(function (result) {
                        if (result.isConfirmed) {
                            window.location.href = "/aprobacionObras/" + id + "/";
                        }
                    });
                }

                function rechazarObras(id) {
                    Swal.fire({
                        title: "Advertencia",
                        text: "¿Estás seguro que deseas rechazar la publicación?",
                        icon: "question",
                        showCancelButton: true,
                        cancelButtonText: "No, cancelar",
                        confirmButtonText: "Sí, rechazar"
                    }).then(function (result) {
                        if (result.isConfirmed) {
                            document.getElementById('rechazoForm').action = "/rechazarObras/" + id + "/";
                            document.getElementById('rechazoForm').submit();
                        }
                    });
                }
            </script>

            <div class="col-4"></div>
        </div>
    </div>


    {% endblock %}