body{

    background-color:aliceblue;
}

#pigcasso{

    color: rgb(9, 2, 9);
}

#Kitten{

    color: rgb(9, 2, 9);
}

#DinoMacetero{

    color: rgb(9, 2, 9);
}



#OP{
    
    height: 70px;
  
}

#OP1{
    padding-top: 0px;
    padding-left: 40px;
}

#OP2{
    padding-top: 120px;
}

#OP3{
    
    padding-left: 40px;
    width: 40%;
}

