{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block contenido %}


<div class="container">
    <div class="row">

        <div class="col-4"></div>

        

        <div class="col-4">

            <h2>Bienvenido a Grupo Cero</h2>
            <hr>

            
            <title>Login</title>
        </head>
        <body>
            <div class="container">
                <div class="row">
                    <div class="col-8" style="margin: auto; margin-top: 10px">
                    <div class="card"  >
                        <div class="card-header text-center" >
                            LOGIN
                          </div>
                        <div class="card-body">
                            <form class="row" id="loginForm" action="" method="POST">
                              {% csrf_token %}
                              {{ form | crispy}}
                              
                              

                              <br><br><br>
                                <div class="col-12" >
                                  <button type="submit" style="width: 100%" class="btn btn-dark">Login</button>
                                </div>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        


        </div>

        <div class="col-4"></div>


    </div>


</div>








{% endblock %}