{% extends 'baseAdmin.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block contenido3 %}

<div class="container">
  <div class="row">
      <div class="col-8" style="margin: auto; margin-top: 10px">
      <div class="card"  >
          <div class="card-header text-center" >
              Registro
            </div>
          <div class="card-body">
            {{mensaje}}
              <form class="row" id="loginForm" action="" method="POST" enctype="multipart/form-data" >
                  {% csrf_token %} 
                  {{ form | crispy }}

                  <div class="col-12" >
                    <button type="submit" style="width: 100%" class="btn btn-primary">Registrarse</button>
                  </div>
                </form>
          </div>
      </div>
  </div>
</div>
</div>
            

            </form>

            <br>

            <h3 class="text-center">{{mensaje}}</h3>
        </div>

        <div class="col-4"></div>

    </div>



</div>




{% endblock %}